* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'Fira Sans Condensed', sans-serif;

}

body {
    background: rgb(84, 99, 255);
    background: linear-gradient(90deg, rgba(84, 99, 255, 1) 0%, rgba(84, 163, 255, 1) 41%, rgba(98, 84, 255, 1) 100%);
    min-height: 100vh;
    display: flex;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.form {
    background-color: #ffff;
    margin: auto;
    width: 90%;
    max-width: 450px;
    padding: 4.5rem 3rem;
    border-radius: 15px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 60%);
    text-align: center;
    transition-duration: 0.7s;
}

.form:hover {
    border-radius: 0px;

}

.form-title {
    font-size: 2.2rem;
    margin-bottom: 4rem;
    color: #f94e0b;;

}

.form-parrafo {
    font-size: 1.1rem;

}



.form a {
    font-weight: 600;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .8rem;
}

.form-container {
    margin-top: 3rem;
    display: grid;
    gap: 2.5rem;

}

.items {
    position: relative;
    color: rgb(58, 58, 58);
}

.form-input {
    width: 100%;
    background: none;
    color: rgb(58, 58, 58);
    font-size: 1.2rem;
    padding: 1rem .3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(58, 58, 58);
    font-family: 'Fira Sans Condensed', sans-serif;
    transition-duration: 0.2s;
}

.form-input:focus {
    color: #5463FF;
    border-bottom: 2px solid #5463FF;

}


.form-boton {
    background-color: #5463FF;
    color: #ffff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem 0;
    border: none;
    border-radius: .5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    transition-duration: 0.7s;
    cursor: pointer;
}

.form-boton:hover {
    border-radius: 0rem;
    background-color: #4c56c1;
}

.form-password a {
    margin-top: 2rem;

}

a {
    transition-duration: 0.5s;
}

a:hover {
    color: #4c56c1;
    text-decoration: none;
}

.icono-casa {
    display: none;

}



@media screen and (max-width:768px){
    .icono-casa {
        display: block;
 
    }
    
    .icono-casa a,
    .fa-house{
        font-size: 1.5rem;
        color: #f94e0b;
        margin-bottom: 1rem;
        text-decoration: none;

    }
}


@media screen and (max-width:320px) {
    .form-title {
        font-size: 1.5rem;
    }

    .form-parrafo {
        font-size: 1rem;
    }

    .form-container {
        margin-top: 3rem;
        display: grid;
        gap: 1.3rem;

    }

    .form-input {
        font-size: 0.9rem;
        padding: 0.9rem 0.3rem;

    }

    .form-boton {
        font-size: 0.9rem;

    }


    .form-parrafo {
        font-size: 1rem;
    
    }
    .form-password a {
        margin-top: 1rem;

    }

}